/* Styling for the main content of the website */

/* Google fonts */
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


/* variables for colors and fonts */

:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Nunito', sans-serif;
    --primary-color: #4A90E2;
    --completed-color: #6FCF97;
    --in-progress-color: #F2C94C;
    --incomplete-color: #EB5757;
    --rewards-color: #9B8AFB;
    --main-background-color: #F4FAF7;
    --main-text-color: #263238;
}

body {
    padding-top: 70px; /* Adjust this value based on the height of your navbar */
}

/* Adding font styles to the body and headings */
body {
    font-family: var(--primary-font);
    background-color: var(--main-background-color);
    color: var(--main-text-color);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--secondary-font);
}

/* Colours for tests. To be removed later */
.test-primary {
    background-color: var(--primary-color);
}
.test-success {
    background-color: var(--completed-color);
}
.test-danger {
    background-color: var(--incomplete-color);
}
.test-warning {
    background-color: var(--in-progress-color);
}
.test-info {
    background-color: var(--rewards-color);
}
.test-light {
    background-color: var(--main-background-color);
}
.test-dark {
    background-color: var(--main-text-color);
}

/* Remove Bootstrap default styles for buttons and inputs and replace with custom styles */

#logo {
    height: 40px;
    width: auto;
}